@charset "utf-8";
/* CSS Document */
body{
	height:600px;
	background-image:url(https://c.wallhere.com/photos/81/8d/Sony_PlayStation_Sony_Playstation_Playstation_5-1763919.jpg!d);
}

h1{
	font:Arial, Helvetica, sans-serif;
	font-size:34px;
	text-align:center;
	margin:0;
}

h2{
	font:Arial, Helvetica, sans-serif;
	font-size:28px;
	text-align:center;
	margin:0;
}

p{
	font:Arial, Helvetica, sans-serif;
	font-size:24px;
	text-align:center;
	margin:0;
}

.reference{
	font:Arial, Helvetica, sans-serif;
	font-size:36px;
	color:#FFF;
}

.sw1{
}

.ps5_1{
	height:280px;
}

.ps5_2{
	height:280px;
}

.ps5_3{
	height:280px;
}

.ps5_4{
	height:280px;
}

.ps5_5{
	height:280px;
}

.ps5_6{
	height:280px;
}

.ps5_7{
	height:280px;
}

.ps5_8{
	height:280px;
}

.ps5_9{
	height:280px;
}

.ps5_10{
	height:280px;
}

.ps5_11{
	height:280px;
}

.ps5_12{
	height:280px;
}

.ps5_13{
	height:280px;
}

.ps5_14{
	height:280px;
}

.ps5_15{
	height:280px;
}