@charset "utf-8";
/* CSS Document */
body{
	height:650px;
	background-image: url(https://wallpaperaccess.com/full/749930.png);
	background-size:100rem;
}

h1{
	font:Arial, Helvetica, sans-serif;
	font-size:34px;
	text-align:center;
	margin:0;
}

h2{
	font:Arial, Helvetica, sans-serif;
	font-size:28px;
	text-align:center;
	margin:0;
}

p{
	font:Arial, Helvetica, sans-serif;
	font-size:24px;
	text-align:center;
	margin:0;
}

.reference{
	font:Arial, Helvetica, sans-serif;
	font-size:36px;
	color:#FFF;
}

.sw1{
	height:280px;
}

.sw2{
	height:280px;
}

.sw3{
	height:280px;
}

.sw4{
	height:280px;
}

.sw5{
	height:280px;
}

.sw6{
	height:280px;
}

.sw7{
	height:280px;
}

.sw8{
	height:280px;
}

.sw9{
	height:280px;
}

.sw10{
	height:280px;
}

.sw11{
	height:280px;
}

.sw12{
	height:280px;
}

.sw13{
	height:280px;
}

.sw14{
	height:280px;
}

.sw15{
	height:280px;
}