@charset "utf-8";
/* CSS Document */
h1{
	font:Arial, Helvetica, sans-serif;
	font-size:34px;
	text-align:center;
	margin:0;
}

h2{
	font:Arial, Helvetica, sans-serif;
	font-size:28px;
	text-align:center;
	margin:0;
}

p{
	font:Arial, Helvetica, sans-serif;
	font-size:24px;
	text-align:justify;
	margin:0;
}

.reference{
	font:Arial, Helvetica, sans-serif;
	font-size:36px;
	color:#FFF;
}

.logo{
}

.boxart{
	height:500px;
}

.buy{
	background-color:#F00;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}

.rent{
	background-color:#F00;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}
